<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/styles.css">

</head>

<body>
  <%- include('components/header', {user: user}); %>
    <div class="main-container">
      <% if (locals.user) {%>
        <div class="login-error-container">
          <span>you're already logged in!</span>
        </div>
        <% } else { %>
          <div class="login-container">
            <h1>log in</h1>
            <div>
              <% if (message) { %>
                <p>
                  <%= message %>
                </p>
                <% } %>
            </div>
            <form action="/login" method="POST">
              <label for="username">Username:</label>
              <input type="text" id="username" name="username" required>
              <label for="password">Password:</label>
              <input type="password" id="password" name="password" required>
              <button type="submit">Login</button>
            </form>
          </div>
          <a href="/signup">Don't have an account? Sign up</a>
          <%}%>
    </div>
</body>

</html>